/* Reset */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo general */
.app-container {
  min-height: 100vh;
  background: #f8fafc;
  color: #0f172a; /* 👈 TEXTO OSCURO GLOBAL */
}

/* Contenido */
.content {
  padding: 30px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* NAVBAR MODERNO */
.navbar {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

.brand {
  font-size: 18px;
  font-weight: bold;
  color: #0f172a;
}

/* Links */
.nav-links a {
  color: #334155;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #0ea5e9;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.detail-grid {
  width: 100%;
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #0ea5e9;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

/* INPUTS */
input,
select {
  width: auto;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
  background: white;
  outline: none;
}

input:focus,
select:focus {
  border-color: #0ea5e9;
  box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.2);
}

.form-actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 12px 18px;
  background: #0ea5e9;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

button:hover {
  background: #0284c7;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .content {
    padding: 20px 15px;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}


form h3 {
  grid-column: span 2;
}

form button {
  grid-column: span 2;
  width: 200px;
}

/*para el imput de buscar*/

input[type="text"] {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

td button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

td button:hover {
  opacity: 0.8;
}


.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.detail-grid label {
  font-size: 12px;
  color: #64748b;
}

.detail-grid p {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0 0 0;
}

body {
  overflow-x: hidden;
}

/* RESPONSIVE DETALLE */
@media (max-width: 600px) {
  .detail-grid {
    grid-template-columns: 1fr;
  }
}

tr:hover {
  background: #f1f5f9;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}

.card {
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
}